* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background:
    fixed linear-gradient(#fbe331, #fbe331 6px, transparent 6px, transparent),
    fixed
      linear-gradient(transparent, rgba(7, 7, 7, 0.85) 50%, rgba(7, 7, 7, 0.75)),
    fixed
      repeating-linear-gradient(
        #3a3a3a,
        #3a3a3a 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #3a3a3a,
        #3a3a3a 1px,
        transparent 1px,
        transparent 40px
      )
      #070707;
}

.demo-grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 1rem;
}

.demo-item {
  padding: 2rem;
  background-color: #003f9d;
  text-align: center;
  color: #fff;
  /* border-radius: 8px; */
  font-size: 1rem;
}
